body{
  font-size: 1em;
}
.container{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.title{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* Form */
.form-control{
  padding: .25em;
  border-radius: .5em;
  margin: 0em .5em;
  width: 200px;
  font-size: 1em;
}
.form-control-select{
  width: max-content
}
input.form-control{
  box-shadow: none;
  border: .5px solid black;
  padding: .5em;
}
.btn{
  padding: 1em;
  border-radius: .5em;
  font-size: 1em;
}
.btn-positive{
  border: 1px solid green;
  background-color: green;
  color: white;
}
.form-inputs{
  margin-bottom: 1em;
}
/* Sort option */
.sort-opt{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* list */
.list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3em auto;
}
.list-item:nth-child(odd){
  background-color: #009999;
  border:1px solid #005580;
}
.list-item:nth-child(even){
  background-color: #005580;
  border:1px solid #009999;
}
.list-item{
  color: white;
  font-weight: 500;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
  margin: .5em;
  justify-content: space-around;
  width: 35em;
  height: 2.5em;
  align-items: center;
  border-radius: .5em;
}
